html {
  background: rgba(1, 4, 12, 0.948);
  -moz-background: rgba(1, 4, 12, 0.948);
  -webkit-background: rgba(1, 4, 12, 0.948);
  -o-background: rgba(1, 4, 12, 0.948);
  background-image: url(/assets/dragon-scales.svg);
  -moz-background-image: url(/assets/dragon-scales.svg);
  -webkit-background-image: url(/assets/dragon-scales.svg);
  -o-background-image: url(/assets/dragon-scales.svg);
  min-height: 100vh;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

body {
  position: relative;
}

header {
  width: 100%;
  height: 50px;
  background-color: rgba(1, 4, 12, 0.948);
}

hr {
  border: 3px solid rgba(60, 60, 60, 0);
  box-shadow: #6f7488d5 0px 5px 3px 0px;
  /* box-shadow: #460202d5 0px 5px 3px 0px; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.fab {
  color: white;
}

.fab:hover {
  font-size: larger;
  opacity: 0.5;
}

.fa {
  color: white;
}

.fa:hover {
  font-size: larger;
  opacity: 0.5;
}

.fas {
  color: white;
}

.fas:hover {
  font-size: larger;
  opacity: 0.5;
}

li {
  list-style: none;
}

a {
  color: #cb4a0a;
  text-decoration: none;
}

.nav-link:hover {
  font-size: larger;
  opacity: 0.5;
}

.container {
  width: 1600px;
}

.subcontainer {
  width: 85%;
  margin: auto;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-family: fantasy;
}

.bullhead {
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

.hamburger {
  height: 40px;
  margin-bottom: 5px;
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0px;
  transition: all 0.1s ease-in-out;
  background-color: #cb4a0a;
}

@media (max-width: 1600px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    width: 100%;
    left: 100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(1, 4, 12, 0.948);
    text-align: center;
    transition: all 0.1s ease-in-out;
  }

  .nav-item {
    border: 10px solid rgba(60, 60, 60, 0);
    border-radius: 10px;
    box-shadow: #a55c1b 0px 1px 1px 1px;
    margin: 6px 0;
    font-size: 1rem;
    font-weight: bolder;
  }

  .nav-menu.active {
    left: 0;
    z-index: 1;
  }
}

#preloader {
  background: #000000 url(/loading/preloader.gif) no-repeat center;
  background-size: 120px;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.thumb {
  height: 90px;
  width: 100px;
  border-radius: 10px;
  flex-basis: 150px;
  box-shadow: 0px 5px 5px 0px #000000;
  -moz-box-shadow: 0px 5px 5px 0px #000000;
  -webkit-box-shadow: 0px 5px 5px 0px #000000;
  /* box-shadow: 0px 8px 10px -5px #8d5252;
  -moz-box-shadow: 0px 10px 13px -5px #8d5252;
  -webkit-box-shadow: 0px 8px 10px -5px #8d5252; */
}

.thumb:hover {
  transform: scale(1.1);
}

img {
  border-radius: 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

.vids {
  padding: 5px;
  margin: 5px;
  max-width: 100%;
}

iframe {
  border-radius: 8px;
}

.saigontv {
  justify-items: center;
  align-self: center;
  justify-content: center;
}

.home {
  font-size: 1.5rem;
}

.title {
  margin-top: 10px;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.home-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* margin-top: 60px; */
}

.microsite {
  /* box-shadow: 0px 5px 8px -5px #8d5252; */
  box-shadow: 0px 5px 5px 0px #000000;
  -moz-box-shadow: 0px 5px 5px 0px #000000;
  -webkit-box-shadow: 0px 5px 5px 0px #000000;
}

.title {
  margin-top: 5px;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Black Ops One", cursive;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.radioflex {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  max-width: 100%;
  justify-content: space-around;
}

ul#episodes {
  /* margin: 10px; */
  padding: 10px;
  width: 75%;
}

button {
  width: 100%;
  height: 40px;
  box-shadow: 0px 5px 5px 0px #000000;
  -moz-box-shadow: 0px 5px 5px 0px #000000;
  -webkit-box-shadow: 0px 5px 5px 0px #000000;
  /* box-shadow: 0px 8px 10px -5px #8d5252; */
  background-color: rgba(7, 47, 7, 0.169);
  /* background-color: rgba(7, 35, 41, 0.441); */
  border: 1px solid #db8344;
  color: rgb(220, 212, 195);
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bolder;
}

button:hover {
  background: rgb(208, 202, 190);
  color: #070707;
  transform: skew(-10deg);
  border: 1px solid #070707;
}
